.columns
  .column
    Co-Fit
  .column
    検索バー
    -# = form_with model: @tweet,  |f|
    -#   = f.text_field :, {} placeholder: "search"
  .column
    アイコン
    -# =link_to "#"
    -#   =icon('far', 'image')
