.header.navbar.columns  
  .navbar-brand.column    
    %span.navbar-item
      Co-Fit 
  .navbar-end.column
    .navbar-item
      .field-has-addons
        .control  
          %input.input{type: "text", name: "search", placeholder: "search"}
        .control
          -# = link_to "#", method: , class: do
          -#   %i.fa.fa-search  or  =icon('', '')
  .navbar-item.column
    Login
